<h1>Login!</h1>

<ul>
<% if flash[:errors] %>
  <%  flash[:errors].each do |e| %>
     <li><%= e %></li>
  <% end %>
<% end %>
</ul>

<ul>
  <% if session[:user_id] == User.last.id %>
  <li>Thank you for signing up, please enter your credentials below. </li>
  <% end %>
</ul>
<%= form_tag sessions_path do %>
  <%= label_tag "Username" %>
  <%= text_field_tag :username %>
  <%= label_tag "Password" %>
  <%= password_field_tag :password %>
  <%= submit_tag "log in" %>
<% end %>
