<h1>Here are your results:</h1>
<p>Average Salary: $<%= @mean %></p>
<ul>
  <% @job_results.each do |job| %>
    <li><strong>Company: <%= job[:company_name] %></strong></li>
    <ul>
      <li>Title: <%= job[:title] %></li>
      <li>Description: <%= job[:description] %></li>
      <li>URL: <a href="<%= job[:redirect_url] %>" target="_blank">See details</a></li>
      <br><br>
    </ul>
  <% end %>
</ul>
<% @pg_num = 1 %>
<% @count.times do %>
  <%= link_to @pg_num, "/jobs/?language=#{@language}/?page=#{@pg_num}" %>
  <% @pg_num += 1 %>
<% end %>

<%= link_to "Search again", search_path %>
