<h1><%= @job.company_name %></h1>
<ul>
  <li>Title: <%= @job.title %></li>
  <li>Description: <%= @job.description %></li>
  <li>URL: <a href="<%= @job.redirect_url %>" target="_blank">See details</a></li>
</ul>

<%= link_to "Job Search", search_path %>


<style>
  ul {
    font-size: 25px;
    font-family: "Times New Roman";
    font-weight: bold;
  }
  body {
    background-image: url("http://www.ifmanyc.org/wp-content/uploads/2014/11/East_River_8x10-5_RGB-wmark.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  html {
    height: 100%;
  }

</style>
