<h1> <%= @language.lang_name %> Page </h1>

<h2>The language you selected was <%= @language.lang_name %></h2>

<h3>History:  <%= @language.history %> </h3>
<h3>Description: <%= @language.description %> </h3>
<h3>Average Salary (est. 2016): $<%= @language.average_salary %> </h3>
<h3>Jobs Available (est. 2016): <%= @language.jobs_available %> </h3>

<h3>Resources to learn this language:  </h3>
<ul>
  <% if @language.video %>
  <li>Video: <a href="<%= @language.video %>" target="_blank">Tutorial For Beginners</a> </li>
  <% end %>
  <% if @language.blog && @language.lang_name != "SQL" %>
  <li>Blog: <a href="<%= @language.blog %>" target="_blank">Blogs</a> </li>
  <% end %>
  <% if @language.course %>
  <li>Course: <a href="<%= @language.course %>" target="_blank">Course</a> </li>
  <% end %>
  <% if @language.book %>
  <li>Book: <a href="<%= @language.book %>" target="_blank">Book</a> </li>
  <% end %>
  <% if @language.school != nil %>
  <li>School: <a href="<%= @language.school %>" target="_blank">School</a> </li>
  <% end %>
</ul>


<div>
<h5>More Options Below<h5>
<li><%= link_to "All languages", languages_path %></li>
<li><%= link_to "Back to profile", current_user %></li>
</div>

<style>
  h1 {
    background-color: grey;
    color: black;
  }

  body {
    background-image: url("http://www.ifmanyc.org/wp-content/uploads/2014/11/East_River_8x10-5_RGB-wmark.jpg" );
  }

  ul {
    background-color: rgba(152, 152, 152, 0.7)
  }

  div {
    background-color: rgba(152, 152, 152, 0.7)
  }

  h3 {
    font-size: 25px;
    background-color: rgba(152, 152, 152, 0.7)
  }



</style>
