<% if session[:user_id] && session[:user_id] == @user.id %>
  <h1>Welcome <%= @user.name %>! </h1>
  <% end %>

<h2>Your Languages</h2>
 <% @user.languages.each do |l| %>
 <li><%= link_to l.lang_name, l%> <br>
    <ul> <%= l.description %> </ul>
   </li>
 <% end  %>

<%= link_to "Edit Your Profile", edit_user_path %> <br>
<%= link_to "See all languages", languages_path %>
