<% if session[:user_id] && session[:user_id] == @user.id %>
  <h1>Welcome <%= @user.name %>! </h1>
  <% end %>

<h2><%= link_to "Search Jobs", search_path %></h2>
<h2>Your Saved Jobs:</h2>
<% @user.jobs.each do |job| %>
  <li><%= job.company_name %> | <%= link_to job.title, job %></li>
<% end %>

<h2>Your Languages:</h2>
<% @user.languages.each do |l| %>
  <li><%= link_to l.lang_name, l%><br>
  <ul><%= l.description %></ul>
  </li>
<% end  %>

<div>
<%= link_to "Edit Your Profile", edit_user_path %><br>
<%= link_to "See All Languages", languages_path %><br>

<div>

<style>
  li {
    background-color: rgba(130, 130, 130, .7);
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 10px;
    font-size: 20px;

  }

  body {
    background-image: url("https://www.resortvacationstogo.com/images/city_images/new%20york%20city.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  html {
    height: 120%;
  }

  h2 {
    background-color: rgba(90, 175, 175, 0.6)
  }

  div {
    background-color: rgba(175, 175, 175, 0.9)
  }
</style>
